body {
    margin: 0px;
    padding: 0px;
    
}

.container div {
    background-color: blueviolet;
    min-width: 98vw;
    min-height: 100vh;

    text-align: center;
}


/*Coluna main*/
#main {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/background_main.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-origin: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid white;

}

#main img {
    margin: 10px;
    width: 90%;
    max-width: 500px;
    height: auto;

}
