<div class="row">
    <div id="foot">
        <div class="follow_section_small">
            <a href="https://twitter.com/pvicvg">
                <img src="media/img/badges/twitter.png" alt="Twitter">
            </a>
            <a href="https://instagram.com/pvicvg/">
                <img src="media/img/badges/insta.png" alt="Instagram">
            </a>
            <a href="https://discord.gg/ttzA6uXr">
                <img src="media/img/badges/discord.png" alt="Discord">
            </a>
            <a href="https://gamejolt.com/@ebPedroVG">
                <img src="media/img/badges/gamejolt.png" alt="GameJolt">
            </a>
        </div>
    </div>
</div>