<div style = "background: linear-gradient(135deg, #000000, #333333);">
    <div class="container">
        <div class="foot">
            <div class="follow_section_small">
                <a href="https://twitter.com/pvicvg">
                    <img src="media/img/badges/twitter.png" alt="Twitter">
                </a>
                <a href="https://instagram.com/pvicvg/">
                    <img src="media/img/badges/insta.png" alt="Instagram">
                </a>
                <a href="https://discord.gg/ttzA6uXr">
                    <img src="media/img/badges/discord.png" alt="Discord">
                </a>
                <a href="https://gamejolt.com/@ebPedroVG">
                    <img src="media/img/badges/gamejolt.png" alt="GameJolt">
                </a>
            </div>

            <div class="horizontal-list">
                <li><a href="{{"/" | relative_url }}">Home</a></li>
                <li><a href="{{"/about.html" | relative_url }}">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/ednaldo_mescladasso">Ednaldo Mescladasso</a></li>
                <li><a href="/ednaldo_mobile">Ednaldo Mobile</a></li>
                <li><a href="/artius">Artius</a></li>
            </div>
            
        </div>
    </div>
</div>
