<div class="navbar-container">
    <div id="navbar">

      <nav id="navigationbar">
          <ul>
              <li><a href="{{ '/' | relative_url }}" data-translate="HOME"></a></li>
              <li><a href="{{ '/#edmesc' | relative_url }}" data-translate="GAMES"></a></li>
              <li><a href="{{ '/#ednaldo_ost' | relative_url }}" data-translate="RELEASES"></a></li>
              <li><a href="{{ '/#members' | relative_url }}" data-translate="MEMBERS"></a></li>
              <li><a href="{{ '/#contact' | relative_url }}" data-translate="CONTACT"></a></li>
          </ul>
      </nav>

        <script>
            var prevScrollpos = window.pageYOffset;
            const threshold = 400;
            window.onscroll = function() {
                var currentScrollPos = window.pageYOffset;
                if (Math.abs(prevScrollpos - currentScrollPos) > threshold) {
                    // Scroll distance exceeds the threshold
                    if (prevScrollpos > currentScrollPos) {
                        // Scrolling up, show navbar
                        document.getElementById("navigationbar").style.top = "0";
                    } else {
                        // Scrolling down, hide navbar
                        document.getElementById("navigationbar").style.top = "-120px";
                    }
                    prevScrollpos = currentScrollPos;
                }
            }
        </script>
    </div>
</div>
