<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pvicgames.github.io/">
    <meta property="og:title" content="PVicGames">
    <meta property="og:description" content="PVic Games is a game studio founded in late 2023. Based in Brazil, with additional members from all around the world, the team strives to develop fun and fresh games that stand the test of time.">
    <meta property="og:image" content="https://pvicgames.github.io/media/img/logos/pvic_logo.png">
    

    <title>PVic</title>
    
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head> 
  <header>
    {% include navbar.html %}
  </header>
  <body>
    {{ content }}
  </body>
  <footer>
    <!--{% include contact_bottom.html %}-->
    {% include footer_info.html %}
    </div>
  </footer>
</html>